
[Unit]
Description=Systemd GetPublicIpBot
After=syslog.target
After=network.target

[Service]
Type=simple
User=$(whomai)
Group=groups $(whomai)
WorkingDirectory=~/GetPublicIpBOT/
ExecStart=/usr/bin/python3 ~/GetPublicIpBOT/main.py
Restart=always
RestartSec=5
Environment=

[Install]
WantedBy=multi-user.target
