
[Unit]
Description=Systemd GetPublicIpBot
After=syslog.target
After=network.target

[Service]
Type=simple
User=some_user
Group=some_group
WorkingDirectory=/home/some_user/GetPublicIpBOT/
ExecStart=/usr/bin/python3 ~/GetPublicIpBOT/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
